[2019-12-14 19:45] SNikhill opened #498 "First Time"
I was just checking for a code preview on the site and saw a message for the newer version. I clicked it and must say, I loved the Interference. LIKE it's awesome, way too better than before.

👍 :)

[2019-12-16 18:21] #347 closed

[2019-12-16 19:02] ggoodman commented on #347
Not sure to be happy or sad. Glad everything is at least working though :D

[2019-12-24 09:27] guruk437 opened #499 "Plunker is Not working in chrome"
what you guys doing , i m not understand, some of the code run in plunker and many other code is not running in plunker , really waste of time

[2019-12-24 09:27] #499 closed

[2019-12-25 03:04] grapevinegizmos opened #500 "Can't figure out how to import packages (AngularJS eg.)"
I've tried the new version just to get a simple tesst up and running, but can't figure out how to do it.

I did shift-command-p, searched for AngularJs
(It finds somethingthat says: ` ```
angularjs 0.0.1
Browerify angularjs shim
[code]

[2020-01-02 12:01] kumail-raza commented on #486
same issue

[2020-01-02 15:05] ggoodman commented on #486
@chihebelgouthi, @kumail-raza can you please share links of the plunks that are stalling on `loading...`?

Also, what browser / O/S are you on? Any issues in dev-tools console or network tab?

[2020-01-03 13:51] mvkotekar opened #501 "Good experience with new view http://next.plnkr.co/"
Happy with new view and speed.
Better than previous theme

[2020-01-03 21:30] ggoodman commented on #501
Thanks for saying so! If you have any ideas for improvement, please let me know :D

[2020-01-03 21:30] #501 closed

[2020-01-04 07:34] kningyi opened #502 "Copy paste angular js issues"
If I copy-paste js code like a function call, the editor keeps adding additional brackets, making my code fail.
Eg.
`scope.$watch(propKey, function(newValue, oldValue) {
        console.log(newValue);
      });`
becomes
`scope.$watch(propKey, function(newValue, oldValue) {
          console.log(newValue);
                });
})`

Also, if I try to copy code from the editor that has more than 15 li

[2020-01-05 04:39] ilyagladko opened #503 "Pretty hard to use it on ipad with on-screen keyboard. Codemirror was more comfy."
I’ve just tickled Monaco editor on it’s official page and it handles touch events a bit better than your version. Thought it tries to scroll the whole page with a code field.as it always did but never should.

Also, Happy New Year!

[2020-01-09 19:34] #496 closed

[2020-01-15 14:24] #18 closed

[2020-01-15 19:13] ggoodman commented on #503
@ilyagladko thanks for the feedback and wishes. Happy New Year to you too!

While CodeMirror was never used on Plunker, it is possible that the previous ace editor had better iPad support. There are no current plans to change underlying editor components or to support multiple so I'm going to close this and mark as wontfix. :(

[2020-01-15 19:13] #503 closed

[2020-01-15 19:14] ggoodman commented on #502
@kningyi any chance you can make a quick video demonstrating this? This is the first I've heard!

[2020-01-18 03:16] deimunddesigns opened #504 "Scripts seem to load in an unpredictable way."
Loading with the <script> tags don't load in order.

[2020-01-20 13:59] ggoodman commented on #504
@deimunddesigns interesting observation. Do you happen to have a reproduction that I could take a look at?

I suspect that I know what might be going on but would like to confirm.

[2020-01-27 16:16] BlizzardBeat opened #505 "Good"
Very good

[2020-01-27 17:09] ggoodman commented on #505
Thanks for saying so! Please don't hesitate to share any ideas you have for improvement or issues you're facing. I'm closing this issue so that open issues are more a reflection of outstanding _problems_.

[2020-01-27 17:09] #505 closed

[2020-01-28 11:26] TartanBono opened #506 "Issues adding AngularJS 1.7.9 package"
Hi,
Sorry first time user of Plunker, apologies if user error. :)

Unable to add Angular package:
![image](https://user-images.githubusercontent.com/359596/73259534-ea149d80-41bf-11ea-85e4-e6a9cdd6f16e.png)

It seems to updated the package.json:
![image](https://user-images.githubusercontent.com/359596/73259596-087a9900-41c0-11ea-9bf1-2b3bcebe992e.png)

but I was expecting files to be added, and s

[2020-01-29 06:03] deafMother opened #507 "i find this app very convenient as compared to others... the ui is simple and not over the top like other platforms"

[2020-01-30 12:46] contact2mayurkukadiya opened #508 "Too much messy and not working."
It's rarely work with some code. mostly can't run any code.

[2020-02-09 12:24] vayin opened #509 "I am getting the json not loaded in console"
http://run.plnkr.co/preview/ck6ezypub00083a64dl8vm5ur/jsconfig.json is failing to load. This message is being logged into console

GET http://run.plnkr.co/preview/ck6ezypub00083a64dl8vm5ur/jsconfig.json 404 (Not Found)

[2020-02-09 13:48] ashmilhussain opened #510 "UI can be much better and neet"

[2020-02-10 07:41] rhemtro opened #511 "new plnkr"
I like the new plnkr, especially being able to see the console

[2020-02-10 15:52] aliniko opened #512 "love new plunker"
hi everyone,

i am a new web developer, just have fun with coding, but here new plunker in alpha mode is nice and more interesting for me, the code are looking clean and essay to read.

many thanks to all who devoted their time and energy for making an amazing web application.

[2020-02-12 21:51] steinitz opened #513 "Code coloring in new version with Dark Reader"
Hi,

Congrats on your big update.

I'm using Dark Reader (for "dark mode").  The old site worked better with Dark Reader - the code background was blacker and the font colors were more pleasing and readable.

I can't imagine Dark Reader compatibility would be a priority for you but perhaps this feedback is useful for something.

[2020-02-16 01:05] cphillips863 opened #514 "Awesome Update"
This update completely changes everything. I was actually about to switch text editors before they updated this one.

[2020-02-16 16:34] SherylHohman opened #515 "closing html output pane also closes console. Cant reopen console or html output panes"
1) I just wanted the console, not the HTML output pane.
So to "maximize" the console pane, I clicked to close the HTML output pane.
Turns out that closed both panes.
Or, rather, they were 2 parts of the same pane.  Fine.

2) The real issue here is that I now cannot find any way to re-open the console / html output pane(s).
And there is no "Run" button.  Not that that matters, if I cannot see the r

[2020-02-24 09:18] priyanka606 opened #516 "printable HTML layout with differnt footer on every page"
Hi Idan,

Colud you please guid me in adding differnt Footer(Like on page 1 FOOTER1.....Page 2  should contaion Footer2) on every page using html CSS

[2020-03-01 10:56] kimyongyeon opened #517 "올드버전"
뭐냐 이건

[2020-03-05 14:07] blanthor opened #518 "AngularJS links not working for me"
I'm trying to run Scott Allen's PluralSight training on AngularJS,. It appears difficult to add angular.js libraries, and the links appear to be broken. My code looks like the tutorials but doesn't run.
For instance:

Index.html:
`<!DOCTYPE html>`
`<html ng-app>`
  `<head>`
    `<script data-require="angular.js@2.0.0" data-semver="2.0.0" src="https://code.angularjs.org/2.0.0-snapshot/"></script>

[2020-03-08 22:59] georgeawg opened #519 "What happened to the Old PLNKR? The new one breaks with my code."
The Old PLNKR stopped working for me. It now forces me to use the new PLNKR.

Is there a way to get to the old one?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2020-03-09 10:29] ggoodman commented on #519
Hi @georgeawg , it is too much of a burden to support the legacy interface. There are currently no plans to continue offering it.

Is there something in the legacy interface that you miss in the new one?

[2020-03-09 20:44] georgeawg commented on #519
The following does not work for me.

**index.html**
[code]
**script.js**
[code]

https://plnkr.co/edit/BuWJCcGBx5YBYaDE

It worked fine in the old PLNKR.

[2020-03-10 11:43] ggoodman commented on #519
Hi @georgeawg, it looks like there were two things at play here:

1. There was an incorrectly closed script tag in the head.
2. The `plnkr.runtime` setting in `package.json` was set to `system` but angular was set up to bootstrap synchronously.

I've fixed both of these in this fork: https://plnkr.co/edit/w1Xo4XWjX89gjEeR

The second issue is much more subtle and may be a bit of a challenge for us

[2020-03-10 11:43] #519 closed

[2020-03-10 18:12] georgeawg commented on #519
The PLNKR in your reply hangs with
[code]

The arrows in the preview spin.

[2020-03-10 18:35] georgeawg commented on #519
Setting

**package.json**
[code]

Seems to work.

https://plnkr.co/edit/BuWJCcGBx5YBYaDE?preview

[2020-03-11 12:55] ggoodman opened #520 "Consider streamlining save"
**Is your feature request related to a problem? Please describe.**
Users are being presented with additional friction in their workflow with the new save modal and title requirement.

**Describe the solution you'd like**
A frictionless experience that balances discoverability of previous work and ease-of-use.

**Describe alternatives you've considered**
TBD

**Additional context**
N/A

[2020-03-11 12:58] ggoodman opened #521 "Vanilla javascript by default. Opt-in for npm modules and system runtime"
**Is your feature request related to a problem? Please describe.**
The new module management support introduced with the systemjs-based runtime is not discoverable and adds friction and confusion to the default experience.

**Describe the solution you'd like**
The systemjs runtime should only be enabled when users opt-in to using that functionality.

**Describe alternatives you've considered**
N/A

[2020-03-11 12:59] iliakan commented on #521
Remove `package.json` from the default JS project. Not needed and misunderstood by people who want pure HTML/JS/CSS.

[2020-03-11 13:03] iliakan commented on #520
The vast majority of people don't care about title at all. They share/save links, that's it.

So the requirement to enter "title/tags" makes plnkr less convenient compared to other sandboxes.

That said, if some few people need the title, they should have a way to input it. But, again, a clean interface is valuable.

[2020-03-11 13:54] ggoodman opened #522 "Binary file rendering support is broken"
**Describe the bug**
Rendering of a binary file (an image, for example) is broken

**To Reproduce**
Drag an image into the editor tree and attempt to preview.

[2020-03-11 15:21] ggoodman commented on #522
Fixed.

[2020-03-11 15:21] #522 closed

[2020-03-16 02:03] guest271314 opened #523 "How to download plnkr as zip at "new" default version?"
**Describe the bug**
No clear way to download plunk as zip at "new" version.

Or, is downloading as zip intentionally omitted from "new" plnkr.co?
**To Reproduce**
Steps to reproduce the behavior:

Navigate new default version of plnkr.co and try to locate "download plunk as zip" or similar language.

**Expected behavior**
A clear and concise way to download the plnkr as zip in like manner as prev

[2020-03-16 11:38] ggoodman commented on #523
Try right clicking a folder in the file tree! You should even be able to drag folders right to your desktop.

Sounds like it could more discoverable.

[2020-03-16 14:23] guest271314 commented on #523
Ok.

Yes. How are individuals expected to know or find out that procedure based on the current text in the site; intuition? Even the basic text that you wrote in the first paragraph.

Here, prefer the "old" version of plnkr. Can that option still be made available?

[2020-03-16 14:34] #523 closed

[2020-03-26 06:13] guest271314 opened #524 "How to disable console?"
**Describe the bug**
console frame can affect output of page.

**To Reproduce**
Steps to reproduce the behavior:

Run https://plnkr.co/edit/NVTsnAjSTf0h1qYy?preview

See https://bugs.chromium.org/p/chromium/issues/detail?id=1063681#c9

**Errors / logs in developer tools**

**Expected behavior**
A means to fully disable console.

**Screenshots**

**Desktop (please complete the following information

[2020-03-26 13:17] ggoodman commented on #524
@guest271314 thanks. Let me take a look at that.

[2020-03-27 01:18] ggoodman commented on #524
Hi @guest271314 I'm not able to run Chromium on my mac and was unable to reproduce with Chrome Canary (release as of today).

Copying the sample plunk gives me an error:

[code]

I'm guessing that this is some bleeding edge API to which I don't yet have access. Perhaps avoiding serializing anything that is an `ArrayBuffer` would do the trick?

[2020-03-27 01:45] guest271314 commented on #524
Try launching Chromium with `--enable-experimental-web-platform-features` flag at command line, or navigate to chrome://flags, search for and enable the flag, relaunch.

An referring to
![Screenshot_2020-03-27_01-43-42](https://user-images.githubusercontent.com/4174848/77712749-9dd1b800-6fcc-11ea-8424-2b73db3c3e1a.png)

[2020-03-31 01:02] guest271314 opened #525 "Error when using MediaRecorder"
**Describe the bug**
Multiple errors thrown when using `MediaStream`, `MediaRecorder` and `ondataavailable` `BlobEvent`

**To Reproduce**
Steps to reproduce the behavior:

Pass a live `MediaStream` to `MediaRecorder`, attach `ondataavailable` event and handler to `MediaRecorder`, execute `MediaRecorder.start()`, record the stream for several seconds then execute `MediaRecorder.stop()`.

**Errors /

[2020-03-31 01:06] ggoodman commented on #525
Looks like the same root cause as #524. Thanks for reporting. I'm still trying to figure out what to do with this one.

[2020-03-31 01:15] guest271314 commented on #525
One solution is to provide the means to disable the console feature entirely, as #524 requests.

The console feature is interfering with code run at the editor. That is a clear bug. Particular for users that do not use the feature at all.

[2020-03-31 03:09] guest271314 commented on #525
The errors are piling up.

[code]

yields

[code]

Why is the code attempting to transfer objects that are not transferable?

[2020-04-01 12:53] ggoodman commented on #525
@guest271314 I've temporarily disabled the console. Can you verify that this has fixed the issues you're seeing?

[2020-04-01 12:53] ggoodman commented on #524
@guest271314 I've temporarily disabled the console. Can you verify that this has fixed the issues you're seeing?

[2020-04-01 14:03] guest271314 commented on #524
@ggoodman Yes.

[code]

[2020-04-02 13:27] guest271314 commented on #525
@ggoodman Yes.

[2020-04-12 20:56] #226 closed

[2020-04-14 13:22] ggoodman commented on #226
@JayDevDo did you close this because the issue is resolved?

[2020-04-15 14:05] benbotto commented on #440
I get a 500, internal server error.  Here's one of my plunks that's embedded in a Medium article: https://run.plnkr.co/preview/ck91ekpi20007305ze2mrpy32/

And if I try to open the editor:

```{"statusCode":404,"error":"Not Found","message":"Not Found"}```

Here is the link: https://plnkr.co/edit/XY6FuU9tmay1fjoq  The link works if I append ?preview (https://plnkr.co/edit/XY6FuU9tmay1fjoq?preview)

[2020-04-23 04:16] CarlyRaeJepsenStan opened #526 "Upload images/other files from computer"
**Is your feature request related to a problem? Please describe.**
I'm building sites with images and would like to be able to upload the images to my Plunker project and link to them without having to upload them to an external image-hosting site.

**Describe the solution you'd like**
In the "Create New File" dialog, add a button to upload from computer.

**Describe alternatives you've considered

[2020-04-23 13:07] ggoodman commented on #526
Hi @CarlyRaeJepsenStan, that's a great idea to put an upload button there 🤔.

In the meantime, you can try dragging files straight from your desktop to the sidebar's file tree. Note, however, there there is still a known issue w/ saving and restoring binary files (like images).

[2020-04-25 01:17] ggoodman commented on #526
I think I've found the issue. Can you please confirm that things work as described?

Here is an example: https://plnkr.co/edit/mKmaJk7irCT0ohCt?preview

[2020-04-25 01:17] #526 closed

[2020-04-27 01:30] johnaweiss commented on #524
hi, is the console still disabled? i can't find a console. I'm new to plunker. Is there a trick to open it?
thx

[2020-04-28 04:01] aaronzshey opened #527 "Code garbling/duplication on formatting"
**Describe the bug**
When I click the format button on the plnkr IDE window my code gets messed up and duplicated

**To Reproduce**
*This bug is finicky and seems to fix itself every now and then - this has happened twice on occasion but I did not capture the problematic code.*

**Errors / logs in developer tools**
300+ errors were fired in the console...
<img width="936" alt="Screen Shot 2020-04-

[2020-04-28 15:04] ggoodman commented on #524
@johnaweiss yes, the console remains disabled until I can deploy it in a way that has no risk of breaking user code.

[2020-04-28 17:08] johnaweiss commented on #524
Ok, thx. 

I'd like to suggest that, if you can implement code-stepthrough, you'll be the one of, if not the only, web-based IDE to achieve that. 

Thx!
On 4/28/2020 8:05:11 AM, Geoff Goodman <notifications@github.com> wrote:
@johnaweiss [https://github.com/johnaweiss] yes, the console remains disabled until I can deploy it in a way that has no risk of breaking user code.
—
You are receiving this

[2020-04-28 21:15] ggoodman commented on #524
Hi @johnaweiss, I suspect the reason that no other browser-based IDEs have implemented this is due to the browser security model. I don't believe that access to the debug protocol is available via web APIs.

[2020-04-28 21:20] johnaweiss commented on #524
i bet you can figure out a way, even if it's an emulation. 
maybe, execute the code on your server, and then send the results back to the browser?
just a thought.

On 4/28/2020 2:16:03 PM, Geoff Goodman <notifications@github.com> wrote:
Hi @johnaweiss [https://github.com/johnaweiss], I suspect the reason that no other browser-based IDEs have implemented this is due to the browser security model. I

[2020-04-28 21:41] ggoodman commented on #527
Huge thanks for the screen capture. This is not something I've been able to reproduce but will look out for it in the future.

[2020-04-28 21:44] #525 closed

[2020-04-28 23:10] aaronzshey commented on #527
@ggoodman Of course!  Should I be concerned about all the errors in the console?

[2020-05-02 22:17] guest271314 opened #528 "plnkr 2MA2uLj4c3cCrVY8 deleted?"
**Describe the bug**
https://plnkr.co/edit/2MA2uLj4c3cCrVY8?preview prints Not Found.

AFAIK did not delete the plnkr here.
**To Reproduce**
Navigate to above URL.
**Additional context**
Published and linked to the plnkr here https://github.com/web-platform-tests/wpt/pull/22779#issuecomment-613250320

[2020-05-03 02:51] ggoodman commented on #528
Hello @guest271314, it indeed looks like this plunk was deleted. I have restored it.

[2020-05-03 02:51] #528 closed, assigned to nobody

[2020-05-03 04:25] aaronzshey opened #529 "Feature or bug? Cmd-clicking file paths doesn't open file."
**Describe the bug**
Actually I don't know if this should be a bug or a feature request, but when I command click on a path to a local file I don't see the file but instead get an error "failed to open "/lib/filename.js"

**To Reproduce**
Steps to reproduce the behavior:
1. Have a basic script or style tag, like  `<script src="lib/script.js"></script>`
2. Command-click on the "lib/script.js" part

[2020-05-03 09:46] FabioGuerreiro opened #530 "Changing Username"
As a user, I'd like to be able to change my username.

I've add my account for a long time, and at the time of creation I've used a "funny" username not fit to share my plunks in a working/professional context as i never needed/wanted to this hasn't been a problem, nor have I haver noticed we weren't allowed to.

When in "My profile" section, the username shouldn't be disabled and we should be abl

[2020-05-03 13:18] ggoodman commented on #530
Hi @FabioGuerreiro that's some fantastic feedback. Let me think on the consequences of a username change. I suspect that it could be done _manually_ since the volume of requests is so low.

[2020-05-03 13:20] ggoodman commented on #529
Interesting, it looks like the inferred path from the html document isn't understanding relative imports.

Thanks for the detailed explanation.

[2020-05-04 04:09] aaronzshey opened #531 "Can Plunker run full-stack/server-side apps?"
**Is your feature request related to a problem? Please describe.**
Feature request is not related to a problem.
However, I performed the following steps to try to construct a full-stack app using plnkr:
1. I installed mongo, express, etc using NPM
2. I made a package.json file with a "start" file
3. I made a file with a bunch of initiators, database access, etc.
4. I ran the whole thing and observ

[2020-05-04 15:39] ggoodman commented on #531
I've often thought of adding such a feature but know that it is a massive undertaking. It is good to know about the interest so I will keep it in mind.

However, since there is no short-term ambition to ship this, I'm going to close for now.

[2020-05-04 15:39] #531 closed, assigned to nobody

[2020-05-15 10:52] Ravichandra-C opened #532 "Unable to open plnkr code example in firefox private browsing window"
**Describe the bug**
I'm trying to solve Tasks in javascript.info site where all the tasks are given as links to a plnkr but as soon as I click on the link I'm get a blank page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://javascript.info/mousemove-mouseover-mouseout-mouseenter-mouseleave in Firefox private window
2. click on "Open a sandbox with tests." in any task in Tasks

[2020-05-18 21:26] ggoodman commented on #532
Interesting. I'll have to see if there is something in the code that might _RELY_ on analytics being available. No reason to block the whole site from working if users are opting out through browser choice or other extensions.

[2020-05-20 06:29] v7inge opened #533 "Can't save a plunk - server error"
![plunk bug](https://user-images.githubusercontent.com/12271654/82412616-a00c3c00-9a7c-11ea-933a-f0cd19e8d333.png)
The problem occurred yesterday and still actual today. As I try to save [plunk](http://plnkr.co/edit/Q5emLKCTeSKyFdgV?preview), I see an error red pane in the bottom right corner:

I use Yandex Browser 20.4.2.201 (Chromium Engine) on Windows.

[2020-05-29 07:54] yusufkayaer opened #534 "Chrome v83 Download is disallowed warning"
**Describe the bug**
I get the following error when downloading excel file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://plnkr.co/edit/Qi8U7NRaG1kiuGLT?preview link'
2. Click on 'api.exportDataAsExcel(params) buttons'
3. See error below

**Errors / logs in developer tools**

Download is disallowed. The frame initiating or instantiating the download is sandboxed, but the fla

[2020-05-29 13:03] #534 closed, assigned to nobody

[2020-05-29 13:04] ggoodman commented on #534
@yusufkayaer thanks for bringing this to my attention. I've released a new version where `allow-downloads` is set on the iframes' sandbox atributes (there are two levels of iframes).

[2020-05-29 13:09] ggoodman commented on #533
@freshnoon are you still seeing this issue? There may have been a temporary hiccup on the api server that was affecting your ability to save.

If you do happen to see this again, can you please share the details of the failing request from the network tab in dev tools?

[2020-05-29 13:15] v7inge commented on #533
{message: "An internal server error occurred", statusCode: 500, error: "Internal Server Error"}
error: "Internal Server Error"
message: "An internal server error occurred"
statusCode: 500

[2020-06-15 10:36] tinsun opened #535 "Abuse reports/form"
Hi!
You need to find a way to report abuse, since your site is being used for for eg phishing. Case in point:
https://run.plnkr.co/plunks/MdCTqXVPIzSwEx2Y/

Regards,
//Martin

[2020-06-15 11:37] ggoodman commented on #535
Great idea. Thanks for the report.

[2020-06-15 13:45] ggoodman commented on #535
@tinsun any thoughts on where in the UI this would be most effective?

[2020-06-17 20:59] recoba137 commented on #534
@ggoodman I got this issue too. My front-end uses Angular and don't know where to set allow-downloads. Can you share your idea

[2020-06-18 05:25] daniel-dimitrovv commented on #534
I have the same issue. Please refer to https://stackoverflow.com/questions/62425400/angular-9-download-is-disallowed-the-frame-initiating-or-instantiating-the-do

[2020-06-18 17:47] tinsun commented on #535
@ggoodman I think in general the best is if there's a report abuse link at the bottom of all pages (but maybe that messes too much with the ui), or a form link easily accessible from the footer of https://plnkr.co. Thanks for the swift action on the phishing page btw.

[2020-06-19 10:47] ghost commented on #535
Another phishing link here. Please take down https://run.plnkr.co/plunks/1JoPiqtMvys8gK7I/&sa=D&ust=1592566868916000

[2020-06-19 14:04] ggoodman commented on #535
Thanks @philchippy, deleted.

[2020-06-19 22:51] recoba137 commented on #534
I found the problem. In my case, it is not related to front-end. It is caused by config of web server
The config has Content Security Policy setting is sandbox and not include 'allow-downloads'
Have just included it and it worked.

My web server is using Nginx
Where to include?
conf file: add_header Content-Security-Policy ... sandbox allow-downloads
Reference: https://developer.mozilla.org/en-US/

[2020-06-19 23:41] ronanzenatti commented on #533
The problem persists even though I saved many times the project, the website shows the error message

[2020-06-19 23:42] ronanzenatti commented on #533
The problem persists even though I tried to save the project many times the website shows the error message.

[2020-06-30 08:27] jdsnape commented on #535
Here's another one

 https://run.plnkr.co/plunks/zWw7Qn4tZ32YD8fV/index.html

If you search run.plnkr.com on urlscan you can find loads of phishing sites that are still up - https://urlscan.io/search/#run.plnkr.co

[2020-07-01 09:47] cmallia opened #536 "https://run.plnkr.co/plunks/f1dbPACTSEHtp7gK/"
This page is hosting a Microsoft Phishing login page

[2020-07-02 13:51] ggoodman commented on #536
Thank you for reporting this. The offending plunk and user have been removed.

[2020-07-02 13:51] #536 closed, assigned to nobody

[2020-07-06 17:57] ggoodman commented on #535
Hi @jdsnape,

I've taken a different approach to this problem. You will see that users who are directed to the standalone runner for a saved plunk will see a phishing message by default.

Users must explicitly click through this interstitial.

Do you think that this addresses the underlying issue?

[2020-07-13 14:10] yusufkayaer commented on #535
Hi @ggoodman
Isn't there a general solution to this?

Our security systems block run.plunker.co because it has been reported as suspicious.

[2020-07-13 14:53] ggoodman commented on #535
Hi @yusufkayaer, I'm still working on this. It appears that my solution is only working for `run.plnkr.co` when viewed via `https://` and I'm investigating why.

[2020-07-25 04:07] mwisnicki opened #538 "rxjs/angular resources not loading"
Url: https://plnkr.co/edit/1hkODExVEToFQFzc

First failing url: https://run.plnkr.co/preview/ckd14hp6s00093a65yjwgek8w/rxjs-compat
Error 404

Every Angular example I was trying to open was failing like that.

Disabling extensions/switching browser doesn't help.

[2020-07-28 07:51] Red-Warrior commented on #530
Hello @ggoodman
I think that FabioGuerriero's suggestion is appropriate, I would also like to be able to change the username.

[2020-07-28 12:39] ggoodman commented on #538
Hi @mwisnicki can you take a look at #61 to see if the recommendations there help you out?

[2020-08-05 19:50] mwisnicki commented on #538
@ggoodman thanks, I'm not quite sure what's the minimal change required to make it working but the new template works so that's sufficient. It's a bit unfortunate that many existing plunkers embedded in various blog posts will stay broken though :/

[2020-08-05 19:50] #538 closed, assigned to nobody

[2020-08-05 19:52] mwisnicki commented on #538
@ggoodman Actually given how widespread this problem is (tons of angular examples suffer from it) maybe it would be a good idea to add some code to detect the problem and display a warning pointing to solution?

[2020-08-07 00:10] ggoodman commented on #538
@mwisnicki do you have any ideas on what kind of experience you might have appreciated?

[2020-09-11 15:44] anjorinjnr commented on #535
The dismiss doesn't work in embedded plnkr, is that intentional? We embed our own plnkr on our site, and it shows the warning, but the proceed and dismiss buttons don't do anything.

Do you plan to have a different solution for embeds?

Thanks.

[2020-09-14 14:54] ggoodman commented on #535
@anjorinjnr this sounds like a pretty serious bug 🤔 . Can you share a link that would help me see what you're seeing?

[2020-09-14 18:21] anjorinjnr commented on #535
Here's a screenshot, the link is behind a login so I can't easily share it.

![image](https://user-images.githubusercontent.com/1556093/93122311-43b8d200-f694-11ea-8717-0d4926577e00.png)

And  [Video](https://drive.google.com/file/d/1pZCqL9acXXxRW6x5msOBK70EahzKb5Hl/view?usp=sharing)

If this isn't enough, I can try and figure out how to get you access.

PS: this behavior isn't consistent, sometim

[2020-09-17 05:40] Laurenivy8 opened #539 "I can't save or fork my plunks."
**Describe the bug**
A clear and concise description of what the bug is.
Hello, I went to save my plunk, so that I could come back to it later but it said Error saving plunk: An internal server error occurred. Also says this when trying to fork it as well.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.Save..'
2. Click on '.Save...'
3. Scroll down to 'The Bottom of page....'
4. See e

[2020-09-17 20:54] ggoodman commented on #539
Hi @Laurenivy8 I'm able to reproduce this as it seems I can't fork it either. When I delete the empty folders, I am able to fork it: https://plnkr.co/edit/y8Rm1TNdywqCFaL1.

Looks like a bug with handling empty directories!

[2020-09-17 20:55] ggoodman commented on #539
Looks like this is a duplicate of #533. I will track the issue there.

[2020-09-17 20:55] #539 closed, assigned to nobody

[2020-09-17 20:56] ggoodman commented on #533
Investigating #539, I can see that this appears to be a server-side bug for handling empty directories. I'm going to take a look but in the mean-time, if you delete `images`, you should be able to save.

[2020-09-18 00:38] #533 closed, assigned to nobody

[2020-09-18 01:23] ggoodman commented on #533
This has been fixed and deployed! Thanks for reporting @freshnoon, @ronanzenatti and @Laurenivy8.

[2020-09-18 04:57] Laurenivy8 commented on #533
Well because it didn't save my progress from last night, I had to type it all back in. Before I typed everything back in, it would let me save, but when I added everything it wouldn't. All I added was a picture and some codes on my index.

________________________________
From: Geoff Goodman <notifications@github.com>
Sent: Thursday, September 17, 2020 9:23 PM
To: plnkr/feedback <feedback@noreply.

[2020-09-18 14:05] ggoodman commented on #533
Sorry to hear that @Laurenivy8 :'(

Perhaps in the recent projects, your browser was able to save some of those changes:
![image](https://user-images.githubusercontent.com/50030/93606758-7b769100-f996-11ea-8d13-72c99d6da1b0.png)

[2020-09-21 21:26] ggoodman commented on #535
@anjorinjnr I've struggled to reproduce this or rationalize what might be causing it to happen. The preview component is expected to be initiated in such a way that it should never present a phishing prompt.

Any chance of grabbing a HAR?

Also, I redeployed in the last few days. Can you give it a spin again (with a hard refresh)?

[2020-09-24 14:46] #34 closed

[2020-10-03 04:00] msalgadou opened #540 "Error saving plunk....internal error servr"
![image](https://user-images.githubusercontent.com/72290087/94982786-d5896180-0513-11eb-8ee3-7277c54e622f.png)

[2020-10-03 16:40] ggoodman commented on #540
Hi @msalgadou that looks very frustrating. So sorry about that. Is the error still occurring? Is the `.csv` file there fairly large?

[2020-10-04 05:45] msalgadou commented on #540
Yes, the error still remains and I cannot record. The csv file is small with only 18 rows

[2020-10-08 18:40] anjorinjnr commented on #535
Hi @ggoodman  I've attached a HAR file. Hopefully it helps.

I tried with an hard refresh and still got the prompt. Here is the exact embed I tried.
[code]

[plnkr embed.har.zip](https://github.com/plnkr/feedback/files/5350682/plnkr.embed.har.zip)

Thanks for your help.

[2020-10-08 18:44] anjorinjnr commented on #535
So I think it's likely browser specific. I tried on it Firefox and it didn't get the prompt.

But I am getting it on Chrome Version 85.0.4183.121 (Official Build) (64-bit).  I get the prompt for the example on your site as well https://ggoodman.gitbooks.io/plunker/content/embed.html

[2020-10-10 18:00] boghyon commented on #540
@ggoodman Same here. I'm not able to save a plunk if a new file, of which the name hasn't existed before previously saved state, was created.

Steps to reproduce:

1. Create a new plunk: https://plnkr.co/edit/
2. Click <kbd>Save</kbd>, enter the project title, and click <kbd>Save</kbd> from the dialog. --> The green message toast notifies that the project was saved successfully.
2. In the same pro

[2020-10-10 19:13] ggoodman commented on #540
So glad you added that detail. I'll take a look today

[2020-10-10 19:17] ggoodman commented on #540
I've been able to reproduce. I should be able to fix this when I have a chance to sit down for a few minutes. Thanks for your input @boghyon.

[2020-10-11 00:40] ggoodman commented on #540
This issue should now be fixed in production. LMK if you see any regressions and thanks for bringing this to my attention with all these details! 🎉

[2020-10-11 00:40] #540 closed, assigned to nobody

[2020-10-11 01:19] ggoodman commented on #535
@anjorinjnr I've been looking into the HAR file and have some news on this front.

I'm seeing a few things that make me think that Firefox' additional security measures or some extra `iframe` sandboxing in play.

The normal way that this works is as follows:

1. The preview wrapper (an `iframe` served from `run.plnkr.co`) receives a refresh request from the main app and creates a hidden `form` (wi

[2020-10-22 03:13] boghyon opened #541 "XML syntax highlight broken in some places"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://embed.plnkr.co/7txzTsNwOBDbyi87/?show=view/Home.view.xml
2. Observe how the syntax highlighting gets broken if the attribute value consists of multiple lines.

**Expected behavior**
The attribute values should be all in the same color (e.g. blue) but they're not due to being multi-line.
Only single-lined values are all blue.

**Scr

[2020-10-22 14:26] ggoodman commented on #541
Hi @boghyon this will remain an issue as long as Plunker uses [monaco-editor](https://microsoft.github.io/monaco-editor/) built-in syntax highlighting system based on [monarch](https://microsoft.github.io/monaco-editor/). The monarch-based syntax highlighting has well-known limitations due to its simplicity. In `vscode`, syntax-highlighting is done using textmate grammars.

It is possible to port

[2020-10-26 12:25] #498 closed

[2020-11-23 12:01] SteBeSec opened #542 "run.plnkr.co detected by Microsoft SmartScreen as phishingpage"
**Describe the bug**
Microsoft SmartScreen detects run.plnkr.co as a phishing site.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Edge Brwoser with an enabled SmartScreen Feature OR use Chrome with the Extension "Microsoft Defender Brwoser Protection"
2. Navigate to http://run.plnkr.co
3. The SmartSCreen Blockpage appears, stating that the page contains a phishing threat:
![image](htt

[2020-11-23 14:56] ggoodman commented on #542
Hello @SteBeSec, I'll take a look at this. It seems as if Microsoft Defender has mistakenly gone and block-listed the whole subdomain.

[2020-12-02 11:00] SteBeSec commented on #542
Short update from my side: I opened a supportrequest at Microsoft about this issue, the support is stating that they have a problem whitelisting "run.plnkr.co" as it seems that "the page looks broken".
Any progress on your side so far?

[2020-12-02 14:49] ggoodman commented on #542
I also opened a ticket requesting review but have yet to receive a response.

Interestingly, I noticed that https: is unaffected.

On Wed., Dec. 2, 2020, 6:00 a.m. SteBeSec, <notifications@github.com> wrote:

[2020-12-04 10:16] SteBeSec commented on #542
Hello,

thank you for this point - I adressed this to Microsoft and hope they will see that it would be illogical to allow https, but block http.

[2020-12-07 09:02] SteBeSec commented on #542
Microsoft replied to me that they finally whitelisted run.plnkr.co. My test was fine and the SmartSCreen detection is gone now, could you please perform a test on your side? Thanks :)

[2020-12-07 14:10] ggoodman commented on #542
Hi @SteBeSec, it looks good to me as well!

Thank you for your diligent follow-up on this. I have yet to get a response via the official dispute channel despite being the owner of the domain 🤷‍♂️.

Cheers for all your work!!

[2020-12-07 14:59] SteBeSec commented on #542
Thank you for the confimation, I think this issue can be closed. :)

[2020-12-07 14:59] #542 closed, assigned to nobody

[2020-12-18 18:44] stefanfrede opened #543 "I can't delete my account or my plunks"
**Describe the bug**

I want to delete my plunks but I can't.
I want to delete my account but I can't.

**To reproduce**

Go to My Plunks and try to delete a plunk.
Go to My Account and try to delete your account.

**Wished outcome**

Please delete my account. Thank you!

[2021-01-04 02:04] ggoodman commented on #543
Hello @stefanfrede, I've deleted your account and any associated data from Plunker. Sorry to see you moving on.

[2021-01-04 02:04] #543 closed, assigned to nobody

[2021-01-04 18:06] anjorinjnr commented on #535
Happy New Year @ggoodman

It doesn't look like the problem is a browser plugin because I can consistent reproduce on Chrome, Safari, Firefox and Edge

[2021-01-24 15:03] guest271314 opened #544 "500 status code when same file is requested 4th time"
**Describe the bug**
500 status code when same file is requested 4th time

**To Reproduce**
Steps to reproduce the behavior:
1. Create several approximately 1 second .oga (.ogg) and .opus files
2. Drag and drop the files to project file tree
3. Request the files in sequential order in an infinite loop, in pertinent part
[code]

4. At the 4th request note that one of the requests for the file will

[2021-02-01 17:20] ggoodman commented on #544
Hi @guest271314 that's a weird one. Especially that you've getting http `500`s and only after the 4th request 🤔 . There is a chance that the ephemeral preview is being evicted reliably in a period of time that happens to correspond to 4 iterations of you loop.

Is the behaviour still happening? Can you share a plunk that demonstrates this?

[2021-02-03 05:11] guest271314 commented on #544
The meesages printed at `console` were interesting. I took a screenshot and posted here in case experiments freeze or crash the OS. At a different OS now. Lost the original code. Will try to reproduce.

[2021-02-06 20:50] boghyon opened #545 "Option to share embed URL with URL parameters for preview"
**Is your feature request related to a problem? Please describe.**
Currently, there is no option to open the preview pane automatically with additional URL parameters.

For example, I'd like to share https://embed.plnkr.co/16J1TFICxbqETCzaxuZ0/ but with `?sap-ui-xx-componentPreload=off` (and possibly more parameters) for the preview pane.

Something like this:

<pre><code>https://embed.plnkr.co/16

[2021-02-07 01:40] guest271314 commented on #544
@ggoodman `500` status code occurs after arbitrary number of requests, could be 2d request

plnkr https://plnkr.co/edit/DjoHuCmBxDa8Z0EE?open=lib%2Fscript.js

[plnkr_500.zip](https://github.com/plnkr/feedback/files/5938030/plnkr_500.zip)

[2021-02-08 03:31] ggoodman commented on #545
That sounds like a great idea. It will be tricky to encode query params in query params in a way that balances usability with functionality 🤔 .

[2021-02-08 09:54] boghyon commented on #545
I'm happy if there is at least the _functionality_. 👍 No problem to escape all characters before sharing the URL.

[2021-02-21 01:53] ggoodman commented on #545
@boghyon this is getting shipped right now. The format you will need is to use is: `?preview:%3Fsap-ui-xx-componentPreload=off`.

LMK if this works for you.

[2021-02-21 14:21] boghyon commented on #545
I just tried https://embed.plnkr.co/16J1TFICxbqETCzaxuZ0?show=preview:%3Fsap-ui-xx-componentPreload%3Doff%26sap-ui-xx-nosync=warn expecting `/?sap-ui-xx-componentPreload=off&sap-ui-xx-nosync=warn` at the end of the preview URL.

Works well! Thank you for the quick update! 👍

[2021-02-21 16:41] boghyon commented on #545
@ggoodman Now an error page is shown if the preview has no parameters. E.g. https://embed.plnkr.co/16J1TFICxbqETCzaxuZ0/

![Embed plunk preview without parameters causes undefined](https://user-images.githubusercontent.com/12143247/108631808-08ed6e00-746c-11eb-9e0e-6839e2b68753.gif)

[2021-02-21 17:35] ggoodman commented on #545
Shipping a fix as we speak 🤦🏼 .

[2021-02-21 18:11] ggoodman commented on #545
Fix now deployed. Thanks for bringing this to my attention @boghyon ❤️ !

[2021-02-21 18:11] #545 closed, assigned to ggoodman

[2021-02-25 12:09] boghyon commented on #545
Would be nice if this feature could be documented in https://ggoodman.gitbooks.io/plunker/content/embed.html. Or how can I contribute to that page?

[2021-02-25 12:11] boghyon commented on #545
@ggoodman Would be nice if this feature could be documented in https://ggoodman.gitbooks.io/plunker/content/embed.html. Or how can I contribute to that page? Or is there any other documentation place for Plunker where people can contribute to?

[2021-02-25 16:37] ggoodman commented on #545
@boghyon I really LOVE this idea. I have been working on a project called Nostalgie (https://nostalgie.dev, https://github.com/ggoodman/nostalgie) that would make it very easy to spin up a docs site for this. I'll take a stab at it tonight.

[2021-03-04 03:46] jitendra1607 opened #546 "Please allow copy clipboard in iframe"
<iframe src="..." allow="clipboard-write"><iframe>

[2021-03-04 17:48] ggoodman commented on #546
Thanks! Good idea.

[2021-03-05 17:34] ewwink opened #547 "JS/HTML/CSS project cannot add any package"
**Describe the bug**
I cannot add any package for example jQuery to JS/HTML/CSS project

**To Reproduce**
Steps to reproduce the behavior:
1. select insert project icon
2. search jQuery (or any)
3. select the files then click import
4. package.json created but the script tag not added to the html file

**Errors / logs in developer tools**

[code]

**Expected behavior**
script tag added to the html

[2021-03-09 07:46] Rrhodan opened #548 "Can't connect with my github"
**Describe the bug**
I Clicked on sign up
A Windows Sign up opened
I clicked on Github then
The windows Github connect opened
I validated my connection and here is this message
===============
What‽
Your browser did something unexpected. Please contact us if the problem persists.

Contact Support — GitHub Status — @githubstatus
===============

I did it serveral time, It's not running and the same

[2021-03-09 13:54] ggoodman commented on #548
Hi @Rrhodan, I suspect that this might have something to do with [GitHub revoking all sessions](https://github.blog/2021-03-08-github-security-update-a-bug-related-to-handling-of-authenticated-sessions/). Maybe you could try the following:

1. Blow away all `plnkr.co` cookies in dev tools and close the window
2. Open GitHub and log in.
3. Open https://plnkr.co again and log in as usual.

Let me kn

[2021-03-11 10:45] yusufkayaer commented on #535
hi @ggoodman

Is any update this situation. ?

Thanks.

[2021-05-18 23:06] CHILEL714 opened #549 "los dias de la semana"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-19 03:02] #549 closed, assigned to nobody

[2021-05-27 00:28] dmarkcox opened #550 "login"
this is probably not a bug.  when i select login, then i don't see how to use email/password, and when i say connect with Github it gets my information but says account already exists.  please advise what am i doing wrong to logon.  dmarkcox@yahoo.com

[2021-06-02 12:30] dubeyaditya29 opened #551 "The code Runs itself without "control + Enter""
The code gets run automatically without control+Enter. It doesn't wait for me to complete the code.

The issue is faced when trying to give alert messages on different parts of my code and the alert box pops up even before I am making a change.

Expected behavior should be to wait until I press control+Enter to execute

![image](https://user-images.githubusercontent.com/48158220/120480002-37b0a400

[2021-06-02 13:52] ggoodman commented on #551
Hi @dubeyaditya29, can you try disabling automatic refresh in the settings panel?
![image](https://user-images.githubusercontent.com/50030/120492540-28a80280-c388-11eb-9877-29c328cb2b1b.png)

[2021-06-05 13:11] dubeyaditya29 commented on #551
Thanks @ggoodman

[2021-06-05 19:28] #551 closed, assigned to nobody

[2021-06-07 06:26] saul-silos commented on #543
How do I delete a particular  plunk? I'm looking and can´t see any option to do that

[2021-06-07 15:40] bcazu opened #552 "My public profile don't working."
**Describe the bug**
My user is bcastano02 (https://plnkr.co/users/bcastano02) I have all my plunks as public but if you enter my link, it does not work.
![image](https://user-images.githubusercontent.com/33225101/121048436-676cfc80-c77c-11eb-841a-0f494c4c7267.png)

If enter my link but with user **bcazu**, it work but don't show my pluks. This user is a github user.
![image](https://user-images.g

[2021-06-22 21:06] boghyon commented on #526
@ggoodman

This doesn't seem to work anymore. Are there currently other ways to add small binary files (such as thumbnails, icons, etc.) to the file tree?

[2021-06-22 21:41] boghyon commented on #261
@ggoodman Would it be possible to tackle this issue? It's unfortunately still reproducible.

**OK:**
- https://run.plnkr.co/plunks/F3t6gI8TPUZwCOnA/ ✔

**FAIL:**
- https://embed.plnkr.co/F3t6gI8TPUZwCOnA?show=preview ❌
- https://plnkr.co/edit/F3t6gI8TPUZwCOnA ❌
  <sup>(Formerly https://next.plnkr.co/edit/F3t6gI8TPUZwCOnA)</sup>

### Steps to reproduce the issue

1. Open the sample. Start the previ

[2021-06-22 22:08] boghyon commented on #544
This is the same issue as https://github.com/plnkr/feedback/issues/261. Previews fail fetching new resources just after a few seconds.

Only <code>run.plnkr.co/plunks/<em><plunkID&gt;</em></code> URLs work.
See https://run.plnkr.co/plunks/DjoHuCmBxDa8Z0EE/. The loop works there.

[2021-06-22 22:20] boghyon commented on #440
Probably same issue as https://github.com/plnkr/feedback/issues/261

[2021-06-22 22:30] boghyon commented on #440
@benbotto Your issue doesn't seem to be related to the issue described by @imKiruSrinivas.

Not sure how you got the `https://run.plnkr.co/preview/ck91ekpi20007305ze2mrpy32/` URL but https://run.plnkr.co/plunks/XY6FuU9tmay1fjoq/ should work.
https://embed.plnkr.co/XY6FuU9tmay1fjoq/ could be also useful when embedding the plunk somewhere.

[2021-06-22 22:33] boghyon commented on #341
Same issue https://github.com/plnkr/feedback/issues/261

[2021-06-22 22:43] bbotto-pdga commented on #440
Hi @boghyon, thanks for the response.  It's been over a year since I made this comment, so I'm refreshing my memory a bit.

There's a button at the top of the "Preview" pane that allows one to "Copy url to the clipboard".  Clicking that link puts this on my clipboard: https://run.plnkr.co/preview/ckq8mo1hs0007316najd7eou1/  That link gives me a 500.

Also, for what it's worth, I used Plunker for s

[2021-06-22 23:29] boghyon commented on #535
@ggoodman

Here is an article shared by @bbotto-pdga that has the same issue and reproducible: https://medium.com/@benjamin.botto/mirroring-drawings-symmetry-with-affine-transformations-591d573667ec.

Is it necessary in the first place that `embed.plnkr.co` shows the warning? Only `run.plnkr.co` would be useful for attackers since there is no additional UI from Plunker, making the page look like a

[2021-06-22 23:30] boghyon commented on #440
Hi @bbotto-pdga, thanks for the quick reply.

There is an open issue about the preview not working after a few seconds (https://github.com/plnkr/feedback/issues/261). Hopefully @ggoodman could clarify whether the preview is intended to be shared at all.

About the phishing warning: https://github.com/plnkr/feedback/issues/535

[2021-06-23 15:41] boghyon opened #553 "Unable to save Plunk if a path name starts with `_`"
## To Reproduce
Steps to reproduce the behavior:
1. Open https://plnkr.co/edit (and select a template if not already done).
2. Prepend an underscore (`_`) to a file or folder name. E.g. `lib/script.js` → `lib/_script.js` .
3. Save the plunk.

## Errors / logs in developer tools

The server responds with the following error message:

![plunker-save-error-if-a-file-or-folder-name-starts-with-an-unde

[2021-07-13 13:40] K15UN3x opened #554 "hola mundo"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Errors / logs in developer tools**
Please open developer tools and copy/paste (or take a screenshot of) information that you think would help the team diagnose and fix the issue. We're all developers h

[2021-08-05 08:35] yangirekun opened #555 "Page with example doesn't load"
**Describe the bug**
https://plnkr.co/edit/hXYTiNGcB0hq2ZV2?p=preview
(Yesterday it was available)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://plnkr.co/edit/hXYTiNGcB0hq2ZV2?p=preview'
4. See error (nothing)

**Errors / logs in developer tools**
Uncaught (in promise) Error: No available storage method found.
    at n (e7392ce6fd867690ac62.js:34)

**Expected behavior**
Page

[2021-08-17 16:46] boghyon opened #556 "All embedded plunks are spreading malware on click due to domain parked CodeFund CDN `<script>`"
1. Open a new browser window in [Guest mode](https://support.google.com/chrome/answer/6130773) (== fresh new browser with default settings and no extensions)
2. Go to https://embed.plnkr.co/
2. Simply click somewhere (**not** the "Preview" iframe)

The `embed.plnkr.co` currently serves the following two scripts:

[code]
They both attempt to add the following `click` handler:

On 30. June 2020, the

[2021-09-02 14:13] SubhamSatyajeet opened #557 "Deletion of Plunker Account"
**Describe the bug**

I want to delete my Plunker account, but there's no such functionality provided in the settings. I'm having to file a bug here since there's no clear pathway to ask for account deletion, but filing this Github Issue worked for the person that filed it:

https://github.com/plnkr/feedback/issues/543

[2021-09-02 21:54] KlausEverWalkingDev commented on #543
@ggoodman I also want to delete my account. Or give me the option to change my present username that I'm deprecating.

[2021-10-20 18:21] Spiderhawk commented on #557
I would also like to delete my account.

[2021-10-30 19:16] ovoddanon opened #558 "username change"

[2021-10-30 19:43] #558 closed, assigned to nobody

[2021-10-31 00:05] ggoodman commented on #558
Hi @ovoddanon, seems you might have changed your mind. If you're still looking to change usernames please send me an email at geoff at plnkr.co from the email associated with your account indicating the desired username.

[2021-10-31 22:09] ovoddanon commented on #558
Hi, i've changed my mind because i just created another account with the right username.now if anything i would like to delete the plunker account whose username is "well_203_backup"31.10.2021, 01:05, "Geoff Goodman" ***@***.***>:
Hi @ovoddanon, seems you might have changed your mind. If you're still looking to change usernames please send me an email at geoff at plnkr.co from the email associated

[2021-11-03 15:06] boghyon commented on #556
@ggoodman Seems to be fixed. I can't find the `codefund` references anymore. So the malicious `click` handler is also gone. Thanks!

[2021-11-03 16:44] ggoodman commented on #556
Oh gosh. I can't believe I missed this issue. Indeed, that slipped through the cracks with an ad locker running in my browser. Thanks for reporting ❤️.

[2021-11-15 12:27] JohnInWI opened #559 "Non secure HTTP?"
Trying to figure out if it's my browser or something changed with Plunker. I've been using HTTP: // connection to a websocket server to send commands to microcontrollers.
Recently, I have not been able to to use HPPT:// - the browser defaults to HTTPS://

Is HTTP:// still available to Plunker users? thanks

[2021-11-15 19:10] ggoodman commented on #559
Hi @JohnInWI, I'm sorry that you were affected by this. Because of some issues w/ how our phishing protection was working in certain environments and in keeping with the general progression of the web, we decided to force TLS across Plunker. Attempts to access plunker over `http://` will be transparently redirected to `https://`.

Can you tell me a little more about your use-case and why you're ho

[2021-11-15 20:35] JohnInWI commented on #559
Thanks for the response!

I volunteer/ teach robotics classes for kids. A number of years ago, I set up a non-secure server to broker commands from Plunker (and other softwares I use, depending on student level) via websocket. At the time, it was just easier and cheaper to set up non-secure. There are roughly 50 robots students built and coded with Plunker using the non-secure websockets. The stud

[2021-11-16 16:17] ggoodman commented on #559
@JohnInWI, if these robots are all reached through a common domain name, you might find that proxying it through CloudFlare will give you transparent TLS upgrades and shouldn't cost you a dime.

I think it's really neat to hear how you and your students have been able to use the platform and I'm sorry that this move affected them in this way!

[2021-12-07 06:43] yusufkayaer opened #560 "Blocked Mixed Content"
**Describe the bug**
When I use plunker I get mixed content error and can't see demo in preview section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://plnkr.co/edit/SLNE6T8pHq4xZf6s?preview
2. Click on preview section.
3. Open developer tools.
4. See error

**Errors / logs in developer tools**
Mixed Content: The page at 'https://plnkr.co/edit/SLNE6T8pHq4xZf6s?preview' was loa

[2021-12-07 14:19] ggoodman commented on #560
Hello @yusufkayaer, the linked Plunk doesn't produce the same result on my computer. Is it possible that you have a browser extension that is interfering or injecting content?

[2021-12-08 09:27] yusufkayaer commented on #560
Thanks for answer @ggoodman you became a guide :)
An web security application we are using may be causing it,i'm working on it.

[2021-12-08 09:27] #560 closed, assigned to nobody

[2022-03-11 17:11] Egauon opened #561 "Cannot use Fetch API after 30 seconds"
The Fetch API cannot be used in my Plunker Project 30 seconds after the project preview has started. I can reload the preview and it works fine... again until 30 seconds later.

Here is a Plunk that describes the issue:

https://plnkr.co/plunk/OIHKMRQHqbzZYYE5

The Second by Second button calls the fetch API every .2 seconds and the 30 Second one delays the fetch API until the 30 second mark.

I i

[2022-03-11 17:13] Egauon commented on #561
Okay okay so apparently it is only an issue in the editor?????

I previewed the Plunk from a public standpoint and it works fine

Maybe that helps narrow the issue?

[2022-03-11 19:23] ggoodman commented on #561
Hi, what's happening here is that in-editor previews store their data in an ephemeral storage as a cost-saving measure. Perhaps the TTL or size of this storage is out of tune with current usage patterns.

Unlike previews, saved Plunks are backed by durable storage.

[2022-03-11 20:54] Egauon commented on #561
So I'm assuming then there's no way to 'fix' it as it's purposeful?

[2022-03-11 23:34] ggoodman commented on #561
There is no fix that is available to users but from the platform perspective I'll take a look later tonight to see what can be done.

[2022-04-11 04:56] Falke-Design opened #562 "Copyright is still 2020"
![grafik](https://user-images.githubusercontent.com/19800037/162667512-eb357693-81c5-4003-a262-49fe2769afb8.png)

[2022-05-01 13:38] guest271314 opened #563 "Blank screen on Chromium 103"
**Describe the bug**
Blank screen on Chromium 103

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [plnkr](https://plnkr.co/)
2. Click on any/all buttons; login; new plnkr
3. Scroll down to DevTools
4. See error

**Errors / logs in developer tools**
[code]

**Expected behavior**
No errors. Fully functional site.

**Screenshots**
![Screenshot_2022-05-01_06-17-42](https://user-images.gith

[2022-05-02 13:18] ggoodman commented on #563
@guest271314 did you happen to see if any network requests failed?

[2022-05-02 13:26] guest271314 commented on #563
Not that I can point to. Chromium dev channel.
![Screenshot_2022-05-02_06-23-43](https://user-images.githubusercontent.com/4174848/166241054-9425da29-c618-4fb1-a325-ca0185d0e269.png)

[2022-05-02 13:36] guest271314 commented on #563
This is what Chromium says about Dev channel https://www.chromium.org/getting-involved/dev-channel/#how-do-i-choose-which-channel-to-use

Firefox 99
![Screenshot_2022-05-02_06-33-37](https://user-images.githubusercontent.com/4174848/166242833-7a85013e-1a25-42b4-8db5-5eef59600509.png)

[2022-05-07 14:57] guest271314 commented on #563
Working now on Developer build 103.0.5049.0.

[2022-05-07 14:57] #563 closed, assigned to nobody

[2022-05-13 12:38] sdehlinger opened #564 "Login via GitHub is not working anymore (always tries to create a new account instead)"
**Describe the bug**
I'm just trying to login to my plunker account which is linked with my Github Account:
https://plnkr.co/users/sdehlinger/plunks

My Github account is as well sdehlinger

Unfortunately, this is not working as during login it always says that the account already exists.
It looks like the system does not recognize me via Github and tries to create my account again which is not wo

[2022-06-20 07:18] livelyouth opened #565 "run without result"
**Describe the bug**
https://plnkr.co/edit/sQ70DNH1bALEPmUgjBLw?p=preview&preview
running with no result

**To Reproduce**
Steps to reproduce the behavior:
1. for the point in the setview function in the js file, change the content with
4e6, -5e6
2. for the geojson file, change the content with
{
  'type': 'FeatureCollection',
  'crs': {
    'type': 'name',
    'properties': {
      'name': 'EPSG:

[2022-06-20 14:22] ggoodman commented on #565
Hello @livelyouth, for security reasons, Plunker now runs Previews over `https`. As a result of browser mixed content policies, Plunker is refusing to load the Leaflet assets from `http` urls.

Unfortunately, Leaflet's CDN doesn't seem to have their TLS certificates correctly configured so switching the asset urls from `http://` to `https://` changes the error to a certificate error.

You can obse

[2022-06-20 14:22] #565 closed, assigned to nobody

[2022-07-02 08:56] ivan-enzhaev opened #566 "Three.js doesn’t start rendering automatically on Plunker"
Rendering starts when you move the center border:
![image](https://user-images.githubusercontent.com/3908473/176993692-a6ef5104-e31e-410a-aa7e-61ca0fe32ebb.png)

Try it: https://plnkr.co/edit/uIUCVLrPkzT1rHMg?preview

I described this question on Three.js forum but they said that it is Plunker bug: [Three.js doesn’t start rendering automatically on Plunker](https://discourse.threejs.org/t/three-js

[2022-07-02 09:25] ivan-enzhaev opened #567 "Melon.js game field size"
When you run it: https://plnkr.co/edit/zDDMRlEZeDQVoNiY?preview you see that a game field is small:

![image](https://user-images.githubusercontent.com/3908473/176994477-e8d54c4e-c9dd-4105-81dc-4c1f1bfaa87d.png)

But if you change a code the size will be normal:

![image](https://user-images.githubusercontent.com/3908473/176994501-054f1788-e08c-4944-8a94-46a5270a89b1.png)

And If you will chance t

[2022-07-04 18:04] ggoodman commented on #566
Hi @8Observer8, I'm not familiar with Three.js but I notice that if I call `onWindowResize()` prior to calling `render()` at the end of `init()`, the scene _does render_. I forked your example and made this change in [this plunk](https://plnkr.co/edit/29qPh37RE2y15DOD?preview).

I also notice that subsequent renders work fine (either based on changes to code, manual refresh or even preview window

[2022-07-04 18:04] #566 closed, assigned to nobody

[2022-07-04 18:09] ggoodman commented on #567
Hello @8Observer8,

It looks like what is happening is that the html page within the preview is not filling the space given to it and `melon.js` is trying to make a square that fits in the available area.

To fix that, check out [this plunk](https://plnkr.co/edit/CgaqF0eREfBBCSPD) where I added following css to make sure the body fills the preview:
[code]

[2022-07-04 18:09] #567 closed, assigned to nobody

[2022-07-05 08:57] ivan-enzhaev commented on #566
Thank you very much!

[2022-07-05 09:00] ivan-enzhaev commented on #567
Thanks a lot!

[2022-08-15 07:26] #464 closed

[2022-09-04 14:55] Nickwiz opened #568 "Real tabs in code"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when [...] editors expand tabs.

Tabs are used a lot to indent code. Tabs are simple but flexible when it comes to customization, also in browsers:

* `tab-size`: https://caniuse.com/css3-tabsize

I am of the opinion that people should have the possibility to choose (and not be forced to use IMO :sweat_smile:

[2022-09-06 13:30] ggoodman commented on #568
Sounds like a good addition!

[2022-09-14 14:36] sdehlinger commented on #564
Any updates on my issue?

[2022-09-23 02:31] ghost commented on #530
I really want this feature too. ❤️

[2022-10-23 19:23] ivan-enzhaev opened #569 "Failed to load my own files as ES6-modules"
Failed to load my own files as ES6-modules: https://plnkr.co/edit/bjAl7TXmY9CzzQl5

External module works fine:

[code]

main.js

[code]

But my module doesn't work: `Failed to load resource: the server responded with a status of 404`

my-class.js

[code]

main.js

[code]

[2022-10-27 18:07] ivan-enzhaev commented on #569
This only works:

[code]

if you add the ".js" extension:

[code]

For me, this is the solution.

[2022-10-28 14:09] ggoodman commented on #569
I'm going to close this because as you noted, browser module resolution will _never_ infer a file's extension. This is a convenience introduced by bundlers where the set of possible files satisfying a prefix can be discovered on the filesystem. On the web, the browser won't make a sequence of requests to attempt to 'find' a file matching the prefix in the specifier.

[2022-10-28 14:09] #569 closed, assigned to nobody

[2022-10-29 17:58] aliashori75 opened #570 "Ali Ashori"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Errors / logs in developer tools**
Please open developer tools and copy/paste (or take a screenshot of) information that you think would help the team diagnose and fix the issue. We're all developers h

[2022-10-29 17:58] aliashori75 opened #571 "> **Describe the bug** A clear and concise description of what the bug is."
_Originally posted by @aliashori75 in https://github.com/plnkr/feedback/issues/570#issuecomment-1295919403_

[2022-11-01 12:59] #571 closed

[2022-11-01 13:00] ggoodman commented on #570
Hi @aliashori75, not sure what you're trying to communicate here so I'll be closing this.

[2022-11-01 13:00] #570 closed

[2022-11-01 15:19] aliashori75 commented on #571
#571

[2022-11-01 15:20] aliashori75 commented on #570
#571

[2022-11-04 17:52] #109 closed

[2022-11-10 18:21] boghyon commented on #556
@ggoodman The issue is reproducible again! This is **categorized as malware** by my employer.

![Plunker distributing possible malware](https://user-images.githubusercontent.com/12143247/201175330-5deb60ed-aa9a-4eac-a39b-cdcd083e1fe1.png)

This is very urgent.

[2022-11-10 22:48] ggoodman commented on #556
Hi @boghyon, I've redeployed the embedded site with the remaining pixel references removed.

[2022-11-10 22:48] #556 closed, assigned to nobody

[2022-11-13 13:45] VerneJulesC opened #572 "Plunker does not insert package"
**Describe the bug**
Insert Package does not add the packages in the html. It only adds them to package.json.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project.
2. Click on "Find and insert package".
3. Search and select any package.
4. Click Import

**Errors / logs in developer tools**
Failed to load resource: net::ERR_CONNECTION_CLOSED
2545b360bc0082009993c.js:60 TypeError

[2022-11-26 08:39] #209 closed